<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.gks.itcast.mapper.JopDao">

	<!--总记录数  -->
	<select id="getTotalCount" resultType="int" parameterType="map">
		select count(id) from job_inf 
		<where>
			<if test="name!=null">
				name like #{name}
			</if>
		</where>
	
	</select>
	<!-- 分页模糊查询 -->
	<select id="getItems"  resultType="job"  parameterType="map">
		SELECT * FROM job_inf   
		<where>
			<if test="name!=null">
				name like #{name}
			</if>
		</where>
		 LIMIT #{startIndex},#{endIndex};
	</select>
	
	<!--  编号查询-->
	<select id="getJobById" parameterType="int" resultType="job">
	   SELECT  * FROM job_inf 
	   <where>
			<if test="_parameter!=null">
				id=#{_parameter}
			</if>
		</where>
	</select>
	<!-- 更新 -->
	<update id="upate" parameterType="job" >
		update job_inf 
		 <set>
		 	<if test="name != null">
		 		 name = #{name} ,
		 	</if>
		 	<if test="remark != null">
		 		 remark = #{remark} 
		 	</if>
		 </set>
		 where id = #{id}
	
	</update>
	<!-- 添加 -->
	<insert id="add" parameterType="job">
		INSERT INTO job_inf  (`NAME`, `REMARK`)  VALUES  (#{name}, #{remark}) ;
	
	</insert>
	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete  from job_inf 
		
		<where>
			<if test="_parameter!=null">
				id=#{_parameter}
			</if>
		</where>
	
	</delete>
	<!-- 查询所有 -->
 	<select id="findAll" resultType="job">
 		select * from job_inf 
 	
 	</select>
	 
</mapper>
